{% load static %}
<!-- start footer -->
        <footer id="contact" class="position-relative overflow-hidden pb-0 bg-gradient-top-very-light-gray">
            <img src="{% static 'images/demo-freelancer-03.png' %}" class="position-absolute top-0px right-minus-100px" alt=""> 
            <div class="container position-relative">
                <img src="{% static 'images/demo-freelancer-04.png' %}" class="position-absolute top-20px right-minus-100px d-none d-md-block" alt="">
                <div class="row">
                    <div class="col-md-12 position-relative"> 
                        <div class="fs-70 md-fs-50 sm-fs-40 ls-minus-3px fw-700 text-black mb-10px sm-ls-minus-1px">Create something great.</div>
                        <div class="d-inline-block">
                            <i class="bi bi-envelope icon-extra-large md-icon-large me-10px text-base-color align-middle"></i>
                            <a href="mailto:thashibtk@gmail.com" class="fs-50 sm-fs-40 text-base-color fw-600 align-middle ls-minus-3px sm-ls-minus-1px">thashibtk@gmail.com</a>
                        </div>
                    </div> 
                </div>
                <div class="row g-0 align-items-center border-top border-2 border-color-dark-gray pt-30px mt-6 mb-3">
                    <div class="col-md-7 last-paragraph-no-margin sm-mb-20px">
                        <p>Crafting efficient, scalable, and user-friendly solutions is at the core of what I do.</p>
                    </div>
                    <div class="col-md-5 elements-social social-text-style-01 text-start text-md-end sm-mb-20px">
                        <ul class="medium-icon dark fw-600 list-unstyled d-flex gap-3 justify-content-md-end">
                            <li><a class="text-dark" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook fs-24"></i></a></li>
                            <li><a class="text-dark" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram fs-24"></i></a></li>
                            <li><a class="text-dark" href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter-x fs-24"></i></a></li>
                            <li><a class="text-dark" href="https://www.behance.net/" target="_blank"><i class="bi bi-behance fs-24"></i></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer -->
         <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
          <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
          </a>
        </div>